In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#from sklearn.datasets import fetch_california_housing
from sklearn.preprocessing  import StandardScaler,OneHotEncoder
from sklearn.linear_model import LinearRegression,Lasso,Lars

In [71]:
data = pd.read_csv('/Users/saptarshipal/DATA/boston_house_pricing_regression/data/Delhi_v2.csv')
data = pd.DataFrame(data)
data.head()

,Unnamed: 0,price,Address,area,latitude,longitude,Bedrooms,Bathrooms,Balcony,Status,neworold,parking,Furnished_status,Lift,Landmarks,type_of_building,desc,Price_sqft
0,0,5600000.0,"Noida Extension, Noida, Delhi NCR",1350.0,28.608850,77.460560,3.0,3.0,NaN,Under Construction,New Property,NaN,NaN,2.0,NaN,Flat,\n\n\n Welcome ...,4148.148148
1,1,8800000.0,"Sector 79, Gurgaon, Delhi NCR",1490.0,28.374236,76.952416,3.0,3.0,NaN,Ready to Move,New Property,NaN,Semi-Furnished,2.0,NaN,Flat,\n\n\n Mapsko M...,5906.040268
2,2,16500000.0,"Vaishali, Ghaziabad, Delhi NCR",2385.0,28.645769,77.385110,4.0,5.0,NaN,Ready to Move,New Property,1.0,Unfurnished,NaN,NaN,Flat,\n\n\n This pro...,6918.238994
3,3,3810000.0,"Link Road, F Block, Sector 50, Noida, Uttar Pr...",1050.0,28.566914,77.436434,2.0,2.0,3.0,NaN,New Property,1.0,Unfurnished,2.0,near Gaur Mulberry Mansion,Flat,\n\n\n AIG Roya...,3628.571429
4,4,6200000.0,"Jaypee Pavilion Court Sector 128, Noida, Secto...",1350.0,28.520732,77.356491,2.0,2.0,3.0,Ready to Move,Resale,1.0,NaN,3.0,NaN,Flat,\n\n\n The prop...,4592.592593

In [72]:
data.columns

Index(['Unnamed: 0', 'price', 'Address', 'area', 'latitude', 'longitude',
       'Bedrooms', 'Bathrooms', 'Balcony', 'Status', 'neworold', 'parking',
       'Furnished_status', 'Lift', 'Landmarks', 'type_of_building', 'desc',
       'Price_sqft'],
      dtype='object')

In [73]:
df = data.copy()
df.drop(columns='Unnamed: 0', axis =1, inplace = True)
df.columns

Index(['price', 'Address', 'area', 'latitude', 'longitude', 'Bedrooms',
       'Bathrooms', 'Balcony', 'Status', 'neworold', 'parking',
       'Furnished_status', 'Lift', 'Landmarks', 'type_of_building', 'desc',
       'Price_sqft'],
      dtype='object')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7738 entries, 0 to 7737
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             7738 non-null   float64
 1   Address           7738 non-null   object
 2   area              7738 non-null   float64
 3   latitude          7738 non-null   float64
 4   longitude         7738 non-null   float64
 5   Bedrooms          7738 non-null   float64
 6   Bathrooms         7738 non-null   float64
 7   Balcony           5166 non-null   float64
 8   Status            7164 non-null   object
 9   neworold          7738 non-null   object
 10  parking           2612 non-null   float64
 11  Furnished_status  4124 non-null   object
 12  Lift              1733 non-null   float64
 13  Landmarks         2759 non-null   object
 14  type_of_building  7738 non-null   object
 15  desc              7738 non-null   object
 16  Price_sqft        7738 non-null   float64
dtypes: float64(10), object(7)
memory usage: 1.0+ MB

In [75]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price,7738.0,8.320635e+06,7.223197e+06,1.700000e+06,4.200000e+06,6.000000e+06,9.500000e+06,8.500000e+07
area,7738.0,1.409507e+03,7.189296e+02,5.010000e+02,9.900000e+02,1.250000e+03,1.650000e+03,9.500000e+03
latitude,7738.0,2.855209e+01,1.074200e-01,2.824002e+01,2.845554e+01,2.857464e+01,2.864252e+01,2.879975e+01
longitude,7738.0,7.727348e+01,1.806062e-01,7.688410e+01,7.707859e+01,7.734532e+01,7.742105e+01,7.768803e+01
Bedrooms,7738.0,2.708193e+00,8.770258e-01,2.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,1.000000e+01
Bathrooms,7738.0,2.501163e+00,8.670501e-01,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+01
Balcony,5166.0,2.426442e+00,1.083677e+00,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+01
parking,2612.0,7.673047e+00,6.041751e+01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,1.406000e+03
Lift,1733.0,1.829198e+00,1.192607e+00,0.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+01
Price_sqft,7738.0,5.543660e+03,2.408659e+03,2.100000e+03,3.950987e+03,4.972674e+03,6.350639e+03,4.437870e+04

In [76]:
df.isnull().sum()

price                  0
Address                0
area                   0
latitude               0
longitude              0
Bedrooms               0
Bathrooms              0
Balcony             2572
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
Landmarks           4979
type_of_building       0
desc                   0
Price_sqft             0
dtype: int64

In [77]:
df.drop(columns=['Address','Balcony','Landmarks','desc'], axis =1, inplace =True)
df.columns

Index(['price', 'area', 'latitude', 'longitude', 'Bedrooms', 'Bathrooms',
       'Status', 'neworold', 'parking', 'Furnished_status', 'Lift',
       'type_of_building', 'Price_sqft'],
      dtype='object')

In [78]:
df.head()

,price,area,latitude,longitude,Bedrooms,Bathrooms,Status,neworold,parking,Furnished_status,Lift,type_of_building,Price_sqft
0,5600000.0,1350.0,28.608850,77.460560,3.0,3.0,Under Construction,New Property,NaN,NaN,2.0,Flat,4148.148148
1,8800000.0,1490.0,28.374236,76.952416,3.0,3.0,Ready to Move,New Property,NaN,Semi-Furnished,2.0,Flat,5906.040268
2,16500000.0,2385.0,28.645769,77.385110,4.0,5.0,Ready to Move,New Property,1.0,Unfurnished,NaN,Flat,6918.238994
3,3810000.0,1050.0,28.566914,77.436434,2.0,2.0,NaN,New Property,1.0,Unfurnished,2.0,Flat,3628.571429
4,6200000.0,1350.0,28.520732,77.356491,2.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,Flat,4592.592593

In [79]:
df['latitude'] = df['latitude'].astype(str)
df['longitude'] = df['longitude'].astype(str)

df['lat_long'] = df['latitude']+ '_' + df['longitude']
df['lat_long']

df.drop(columns=['latitude','longitude'],axis =1,inplace =True)

In [96]:
df[df['lat_long'].duplicated()==True].sort_values('lat_long')

,price,area,Bedrooms,Bathrooms,Status,neworold,parking,Furnished_status,Lift,type_of_building,Price_sqft,lat_long
4094,8000000.0,1093.0,3.0,2.0,Ready to Move,Resale,1.0,Semi-Furnished,0.0,Flat,7319.304666,28.247592_77.069185
1072,7000000.0,1175.0,2.0,2.0,Ready to Move,Resale,2.0,Semi-Furnished,NaN,Flat,5957.446809,28.247592_77.069185
3314,6000000.0,1270.0,2.0,2.0,Ready to Move,Resale,NaN,Semi-Furnished,NaN,Individual House,4724.409449,28.247592_77.069185
4848,3900000.0,745.0,2.0,2.0,NaN,New Property,NaN,Unfurnished,NaN,Flat,5234.899329,28.247592_77.069185
2842,2500000.0,629.0,2.0,2.0,NaN,Resale,1.0,Unfurnished,NaN,Flat,3974.562798,28.247592_77.069185
...,...,...,...,...,...,...,...,...,...,...,...,...
6127,5700000.0,890.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,0.0,Flat,6404.494382,28.747126_77.098444
5264,4600000.0,1475.0,3.0,3.0,Ready to Move,Resale,NaN,Semi-Furnished,NaN,Flat,3118.644068,28.7662162_77.2705047
4026,6000000.0,1250.0,2.0,2.0,Ready to Move,New Property,2.0,NaN,2.0,Individual House,4800.000000,28.77872_77.2652035347517
5918,5100000.0,1500.0,3.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,Individual House,3400.000000,28.77872_77.2652035347517
3843,3900000.0,1100.0,3.0,3.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,3545.454545,28.7997475777292_77.2622070636377

In [85]:
df['Status'].unique()

array(['Under Construction', 'Ready to Move', nan], dtype=object)

In [92]:
df[df['Status'] == 'NaN']

Empty DataFrame
Columns: [price, area, Bedrooms, Bathrooms, Status, neworold, parking, Furnished_status, Lift, type_of_building, Price_sqft, lat_long]
Index: []

In [82]:
df.head(50)

,price,area,Bedrooms,Bathrooms,Status,neworold,parking,Furnished_status,Lift,type_of_building,Price_sqft,lat_long
0,5600000.0,1350.0,3.0,3.0,Under Construction,New Property,NaN,NaN,2.0,Flat,4148.148148,28.60885_77.46056
1,8800000.0,1490.0,3.0,3.0,Ready to Move,New Property,NaN,Semi-Furnished,2.0,Flat,5906.040268,28.37423557_76.95241631
2,16500000.0,2385.0,4.0,5.0,Ready to Move,New Property,1.0,Unfurnished,NaN,Flat,6918.238994,28.645769_77.38511
3,3810000.0,1050.0,2.0,2.0,NaN,New Property,1.0,Unfurnished,2.0,Flat,3628.571429,28.566914_77.436434
4,6200000.0,1350.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,Flat,4592.592593,28.520732_77.356491
5,3700000.0,1150.0,2.0,2.0,Ready to Move,New Property,NaN,NaN,NaN,Flat,3217.391304,28.62804_77.437809
6,3270000.0,890.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,3674.157303,28.610645_77.455837
7,3990000.0,850.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,NaN,Flat,4694.117647,28.471233_76.969597
8,3500000.0,960.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,3645.833333,28.5814311_77.4528192
9,5500000.0,1400.0,3.0,3.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,3928.571429,28.614181_77.427713
10,7300000.0,850.0,3.0,2.0,Ready to Move,New Property,2.0,Semi-Furnished,1.0,Flat,8588.235294,28.72407531738281_77.0955810546875
11,7700000.0,1250.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,6160.000000,28.436305_77.13605
12,10500000.0,1615.0,3.0,3.0,Ready to Move,Resale,NaN,Unfurnished,NaN,Flat,6501.547988,28.513139724731445_77.02595520019531
13,7200000.0,1200.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,6000.000000,28.5074613813646_77.4078166697626
14,7000000.0,1690.0,3.0,3.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,4142.011834,28.679009_77.3492951427093
15,9500000.0,1000.0,3.0,2.0,Ready to Move,New Property,2.0,Semi-Furnished,1.0,Individual House,9500.000000,28.721435546875_77.10701751708984
16,15000000.0,1450.0,4.0,3.0,Ready to Move,New Property,2.0,Semi-Furnished,1.0,Individual House,10344.827586,28.72721290588379_77.09606170654297
17,4800000.0,1175.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,4085.106383,28.616078045953845_77.42810224734058
18,5100000.0,1087.0,2.0,2.0,Ready to Move,Resale,1.0,Semi-Furnished,2.0,Flat,4691.812328,28.6443099975586_77.331787109375
19,14000000.0,1845.0,3.0,3.0,NaN,Resale,2.0,Semi-Furnished,2.0,Flat,7588.075881,28.5469297107013_77.3543872945106
20,6250000.0,1400.0,2.0,2.0,Ready to Move,New Property,NaN,NaN,NaN,Flat,4464.285714,28.449384_76.98441
21,8700000.0,1600.0,3.0,2.0,Ready to Move,Resale,NaN,Unfurnished,NaN,Flat,5437.500000,28.423049_77.08741
22,13000000.0,1950.0,3.0,3.0,Ready to Move,Resale,NaN,NaN,NaN,Individual House,6666.666667,28.5697371550333_77.3324116681809
23,15000000.0,1800.0,2.0,3.0,Ready to Move,New Property,NaN,NaN,NaN,Flat,8333.333333,28.529146_77.355843
24,5500000.0,1440.0,3.0,2.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,3819.444444,28.587499354879053_77.44316979301459
25,4200000.0,1040.0,2.0,2.0,Ready to Move,Resale,2.0,NaN,3.0,Flat,4038.461538,28.616204_77.422256
26,3900000.0,1025.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,3804.878049,28.57223_77.474898
27,10000000.0,1836.0,3.0,2.0,Ready to Move,Resale,NaN,Semi-Furnished,NaN,Individual House,5446.623094,28.6571606_77.355748
28,7600000.0,1350.0,3.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,Flat,5629.629630,28.645769_77.38511
29,3900000.0,800.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,2.0,Flat,4875.000000,28.387731_76.96791987
30,9000000.0,1481.0,2.0,2.0,Ready to Move,Resale,2.0,Unfurnished,2.0,Flat,6076.975017,28.49744987487793_77.02709197998047
31,8350000.0,1398.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,3.0,Flat,5972.818312,28.5434121846104_77.367853
32,13500000.0,2150.0,3.0,3.0,Ready to Move,Resale,1.0,NaN,NaN,Individual House,6279.069767,28.435208771263_77.0902252334016
33,5310000.0,1100.0,3.0,2.0,Ready to Move,Resale,NaN,Furnished,NaN,Flat,4827.272727,28.6467392_77.3709475
34,15000000.0,1960.0,3.0,3.0,NaN,Resale,NaN,Semi-Furnished,NaN,Flat,7653.061224,28.3907304_77.05782257
35,17500000.0,2450.0,3.0,3.0,Ready to Move,New Property,2.0,NaN,2.0,Flat,7142.857143,28.482277_76.99199526
36,5000000.0,1000.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,5000.000000,28.5604873040921_77.384084
37,3500000.0,850.0,2.0,2.0,Ready to Move,Resale,NaN,Furnished,NaN,Flat,4117.647059,28.559850692749023_77.24765014648438
38,4550000.0,950.0,3.0,2.0,Ready to Move,New Property,1.0,Semi-Furnished,1.0,Flat,4789.473684,28.50809_77.2314673
39,4000000.0,700.0,2.0,2.0,Ready to Move,Resale,NaN,Unfurnished,NaN,Flat,5714.285714,28.558586_77.2511855
40,3500000.0,750.0,2.0,2.0,Ready to Move,Resale,NaN,Semi-Furnished,0.0,Flat,4666.666667,28.6895694732666_77.33861541748047
41,3500000.0,950.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,1.0,Individual House,3684.210526,28.5905383_77.35981
42,2400000.0,540.0,2.0,2.0,Ready to Move,New Property,NaN,Semi-Furnished,0.0,Flat,4444.444444,28.59227180480957_77.08367919921875
43,80000000.0,5571.0,5.0,5.0,Ready to Move,Resale,4.0,NaN,2.0,Individual House,14360.078980,28.424904_77.03476
44,9500000.0,1200.0,2.0,2.0,Ready to Move,Resale,NaN,Semi-Furnished,NaN,Flat,7916.666667,28.652429_77.1643181
45,10500000.0,1020.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,10294.117647,28.3978564_77.07393158
46,7500000.0,1505.0,2.0,2.0,Ready to Move,Resale,1.0,NaN,2.0,Flat,4983.388704,28.512136_76.986899
47,4800000.0,1232.0,6.0,3.0,Ready to Move,Resale,NaN,Unfurnished,NaN,Flat,3896.103896,28.652807235717773_77.45092010498047
48,5600000.0,929.0,2.0,2.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,6027.987083,28.436305_77.13605
49,8500000.0,1350.0,3.0,3.0,Ready to Move,Resale,NaN,NaN,NaN,Flat,6296.296296,28.647938_77.340697

In [81]:
df.isnull().sum()

price                  0
area                   0
Bedrooms               0
Bathrooms              0
Status               574
neworold               0
parking             5126
Furnished_status    3614
Lift                6005
type_of_building       0
Price_sqft             0
lat_long               0
dtype: int64